*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #0e0e0e;
    color: white;
}

/* NAVBAR */
header{
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    position: sticky;
    top: 0;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
}

nav a{
    color: #ddd;
    margin-left: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #4da3ff;
}

/* HERO SECTION */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 40px;
}

.hero h1{
    font-size: 48px;
}

.hero p{
    color: #ccc;
    margin-top: 10px;
}

.hero-img img{
    width: 300px;
}

/* SKILLS */
.skills{
    padding: 60px 40px;
    text-align: center;
}

.skill-box{
    margin-top: 20px;
}

.skill-box span{
    display: inline-block;
    background: #0f244f;
    padding: 12px 25px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    cursor: pointer;
}

.skill-box span:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
  background-color: #631212e0;
}

/* PROJECTS */
.projects{
    padding: 60px 40px;
}

.project-card{
    background: #181818;
    padding: 25px;
    margin: 15px 0;
    border-radius: 10px;
    border: 1px solid #333;
}

.project-card h3{
    margin-bottom: 8px;
}

/* CONTACT */
.contact{
    padding: 60px 40px;
}

/* FOOTER */
footer{
    margin-top: 50px;
    text-align: center;
    padding: 20px;
    background: #111;
}
