* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 15px;
}


body {
    background: #0e0e0e;
    color: white;
}

/* NAVBAR */
header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    position: sticky;
    top: 0;
}

header .logo {
    font-size: 3.4rem;
    font-weight: bold;
}

nav a {
    color: #ddd;
    margin-left: 2rem;
    text-decoration: none;
}

nav a:hover {
    color: #3376bc;
}

/* HERO SECTION */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 4rem;
}

.hero h1 {
    font-size: 4.8rem;
}

.hero p {
    color: #ccc;
    margin-top: 1rem;
}

.hero-img img {
    width: 300px;
}

/* SKILLS */
.skills {
    padding: 6rem 4rem;
    text-align: center;
}

.skill-box {
    display: flex;
    justify-content: center;

    margin-top: 2rem;
}

.skill-box span {
    display: inline-block;
    background: #0f244f;
    padding: 1.2rem 2rem;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid #333;
    cursor: pointer;
}

.skill-box span:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
    background-color: #631212e0;
}

/* PROJECTS */
.projects {
    padding: 6rem 4rem;
}

.project-card {
    background: #181818;
    padding: 2.5rem;
    margin: 1.5rem 0;
    border-radius: 1rem;
    border: 1rem solid #333;
}

.project-card h3 {
    margin-bottom: 0.80rem;
}

/* CONTACT */
.contact {
    padding: 6rem 4rem;
}

/* FOOTER */
footer {
    margin-top: 5rem;
    text-align: center;
    padding: 2rem;
    background: #111;
}

/* İMG */
img {
    border-radius: 20%;
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

